table {
  border: 1.5px solid #3a3a3a;
}

h3 {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
}

th {
    text-align: left;
    color: #626f56;
    background-color: rgb(204, 204, 204);
    text-transform: capitalize;
  }
  
  /* TODO: make it work */
  tr:hover {
    background-color: rgb(0, 224, 204);
  }
  
  /* TODO: make it work */
  tr:nth-child(even) {
    background-color: rgb(0, 219, 219);
  }
  
  td {
    text-align: center;
    background-color: rgb(232, 232, 232);
    padding-left: 5px;
    padding-right: 5px;
  }
  
td.colorId0 { background-color: #b7d0ee;}
td.colorId1 { background-color: #d2e9e6;}
td.colorId2 { background-color: #b5ecf4;}
td.colorId3 { background-color: #e3e9d2;}
td.colorId4 { background-color: #e9d7d2;}
td.colorId5 { background-color: #e2b8e6;}
td.colorId6 { background-color: #c1b7f2;}
td.colorId7 { background-color: #bccaf2;}
td.colorId8 { background-color: #bcf2eb;}
td.colorId9 { background-color: #bcf2d4;}
td.colorId10 { background-color: #e4f2bc;}
td.colorId11 { background-color: #f2bcbc;}
