table {
  border: 1.5px solid #3a3a3a;
}

h3 {
    text-decoration: underline;
}

th {
    text-align: left;
    color: #626f56;
    background-color: rgb(204, 204, 204);
  }
  
  /* TODO: make it work */
  tr:hover {
    background-color: rgb(0, 224, 204);
  }
  
  /* TODO: make it work */
  tr:nth-child(even) {
    background-color: rgb(0, 219, 219);
  }
  
  td {
    text-align: center;
    background-color: rgb(232, 232, 232);
    padding-left: 5px;
    padding-right: 5px;
  }
  
