.CapacityRow {
  display:grid;
  grid-template-columns: 200px auto auto;
  text-align: center;
  color: yellow; 
  border:2px solid white;
  padding: 5px;  
} 

.Header {
  text-align: left;
  vertical-align: middle;
}